In [ ]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple
# ANSWER :
data=["Anjali","mango",45.78,[56,67,98],(90,"chiku")]
for i in data:
      print( "type of ", i,"is",type(i))

In [2]:
#Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable. 
#ANSWER :
var1 = ' '
print(type(var1))
var2 = '[ DS , ML , Python]'
print(type(var2))
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))
var4 = 1.
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [ ]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **
#ANSWER :
a=20 
b=4
c=a/b
print(c)
# / is divide operator
m=45
n=2
p=m%n
print(p)
# % is modulo operator
x= 58
y=3
z=x//y
print(z)
# // is floor division operator
i=9
j=2
k=i**j
print(k)
# ** is power operator

In [15]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

#ANSWER :

list=["Anjali","M.Sc",21,4+6j,56.78,("mango","orange"),["pink",45,"red"],True,False,0,]
print("length is :",len(list))
for items in list:
    print(items,":",type(items))

length is : 10
Anjali : <class 'str'>
M.Sc : <class 'str'>
21 : <class 'int'>
(4+6j) : <class 'complex'>
56.78 : <class 'float'>
('mango', 'orange') : <class 'tuple'>
['pink', 45, 'red'] : <class 'list'>
True : <class 'bool'>
False : <class 'bool'>
0 : <class 'int'>

In [1]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

#ANSWER :

num=[23,45,89,90,70,537,57,854,12,3,21,47,654,34,39,666,28,29,6789,8,47,567,92,100,900]
for n in num:
    if n%3==0:
        print(n,"divisble by 3")
    else:
        print(n, " is not divisble by 3")

23  is not divisble by 3
45 divisble by 3
89  is not divisble by 3
90 divisble by 3
70  is not divisble by 3
537 divisble by 3
57 divisble by 3
854  is not divisble by 3
12 divisble by 3
3 divisble by 3
21 divisble by 3
47  is not divisble by 3
654 divisble by 3
34  is not divisble by 3
39 divisble by 3
666 divisble by 3
28  is not divisble by 3
29  is not divisble by 3
6789 divisble by 3
8  is not divisble by 3
47  is not divisble by 3
567 divisble by 3
92  is not divisble by 3
100  is not divisble by 3
900 divisble by 3

In [23]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

# ANSWER :

# MUTABLE DATA TYPE:::
                     # data type in which we can make changes without effecting the acctual identity of data type .for example: list,set..
list=["ram singh","ritika","suhani dubay"]
list.append("ritesh")
print(list)
# IMUTABLE DATA TYPE:::
                     # data type in which we cann't make changes without effecting the acctual identity of data type.for example:tuple,str.
tuple=(45.9,32,57,90.78)
print(tuple.append(85))
this give error

['ram singh', 'ritika', 'suhani dubay', 'ritesh']